* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 330px;
  height: 330px;
  position: relative;
  border: 1px solid black;
  box-sizing: content-box;
  padding: 5px;
  border-radius: 20px;
}

.table {
  width: 330px;
  height: 330px;
  display: flex;
  flex-wrap: wrap;
}

.table div{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin: 5px;
}

.result {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result div{
  width: 100%;
  font-size: 20px;
}

.hidden {
  display: none;
}
