* {
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

.tank {
  width: 300px;
  height: 150px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 100px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px grey;
}

.button:active {
  box-shadow: inset 2px 2px 5px #7B7D7D;
  top: 51%;
}

.bowl {
  width: 300px;
  height: 350px;
  background-color: white;
  border-radius: 50%;
  border: 50px solid white;
  box-shadow: inset 0 0 20px #e3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.water {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: lightblue;
  box-shadow: inset 0 0 20px white;
}

.flush {
  animation-name: flush;
  animation-duration: 4s;
}

@keyframes flush {
  0%   {
    width: 150px;
    height: 150px;
    background-color: lightblue;
  }
  50%  {
    width: 10%;
    height: 10%;
    background-color: #E0ECF8;
  }
  100% {
    width: 150px;
    height: 150px;
    background-color: lightblue;
  }
}
