<form class="" action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">User email:</label>
  <input type="text" name="email" value="">
  <label for="">password</label>
  <input type="password" name="pwd" value="">
  <button type="submit" name="button">Login</button>
</form>
