<h1>This is an amazing project</h1>

<form class="" action="/signed_up" method="get">
  <input type="text" name="email" value="" placeholder="Your Email">
  <input type="submit" name="" value="I am interested">
</form>
