<h1>Add new dish</h1>

<form class="" action="/dishes" method="post">
  <label for="">name</label>
  <input type="text" name="name" value="">
  <label for="">Image URL</label>
  <input type="text" name="img_url" value="">
  <button type="submit" name="button">Add</button>
</form>
