body {
  background-color: azure;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.project {
  width: 50%;
}

.project img {
  /* To remove space under image */
  display: block;
}

.comments {
  border-top: 1px solid black; 
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

@media (min-width: 700px) {
  .project {
    width: 25%;
  }
}

.project-details img {
  width: 400px;
  height: 300px;
}
