<h1>Hello world</h1>

<div class="container">
  <% @projects.each do |project| %>
    <div class="project">
      <a href="">
        <img src="<%= project.preview.url %>" alt="">
      </a>
      <div class="">
        <%= project.title %>
      </div>
    </div>
  <% end %>
</div>
