<form class="" action="/dishes/<%= @dish_id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">Name:</label>
  <input type="text" name="name" value="">
  <button type="submit" name="button">update</button>
</form>
