<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <% if logged_in? %>
    <span>Hello, <%= current_user.email %></span>
    <form class="" action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" name="button">Logout</button>
    </form>
  <% else %>
    <a href="/login">Login</a>
  <% end %>


  <main>
    <%= yield %>
  </main>


</body>
</html>
