<form class="" action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">User Name:</label>
  <input type="text" name="name" value="">
  <label for="">Email:</label>
  <input type="email" name="" value="">
  <label for="">Password: </label>
  <input type="password" name="password" value="">
  <button type="submit" name="button">Sign up</button>
</form>
