<h1>User login</h1>

<form class="" action="/session" method="post">
  <label for="">Email:</label>
  <input type="text" name="email" value="">
  <label for="">Password:</label>
  <input type="password" name="password" value="">
  <button type="submit" name="button">Login</button>
</form>
